

.btnAdd {
  background-color: #4F4F51;
  color: white;
}
.btn.btn-primary:hover, .btn.btn-primary:focus {
  border-color: #e66d3d !important;
  background: #e66d3d !important;
}

.btn .icon {
  position: absolute;
  top: 0;
  right: 0;
  width: 45px;
  bottom: 0;
  background: #fff;
}
.btn:hover, .btn:active, .btn:focus {
  outline: none !important;
}
.btn {
  padding: 12px 16px;
  cursor: pointer;
  border-width: 1px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 500;
  -webkit-box-shadow: 0px 10px 20px -6px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0px 10px 20px -6px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 10px 20px -6px rgba(0, 0, 0, 0.12);
  overflow: hidden;
  position: relative;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.icon-dark {
  color: #4F4F51; 
}

#btnEditList {
  background-color: #696168;
  color: white;
}
#btnDeleteList {
  background-color: #633c48;
  color: white;
}
.ListTable {
  width: 30%;
}
