<div id="currentTask">

  <div class="col-md-2 mt-5 d-flex" style="float:right">
    <button type="button" class="btn mb-2 mb-md-0 w-100 btn-slide-line btnAdd d-flex align-items-center justify-content-center"
            data-bs-toggle="modal"
            data-bs-target="#addListModal">
      <span>Add list</span>
      <div class="icon d-flex align-items-center justify-content-center">
        <i class="bi bi-plus-square-fill icon-dark"></i>
      </div>
    </button>
  </div>
  <!--<div class="checkbox-wrapper-15">
    <input class="inp-cbx" id="cbx-15" type="checkbox"/>
    <label class="cbx" for="cbx-15">
      <span>
        <svg width="12px" height="9px" viewbox="0 0 12 9">
          <polyline points="1 5 4 8 11 1"> </polyline>
          </svg>
          </span>
          <span> To -do
      </span>
      </label>
      </div>-->

      <!--<p>Let's see what's left to do today</p>-->
      <table cellpadding="10" cellspacing="0" class="m-5" style="float:left">
        <thead>
          <tr style="background-color: #f2f2f2;">
            <th>Task</th>                                                                             
            <th>Done</th>
            <!--<th>Note</th>-->
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Why is the Wi-Fi always slow?! 😠</td>
            <td><input type="checkbox" class="inp-cbx" id="cbx-15"/></td>
              
          </tr>
          <tr>
            <td>Another software update? Really?! 😤</td>
            <td><input type="checkbox" /></td>
          </tr>
          <tr>
            <td>Who finished the coffee and left the pot empty?! 😡</td>
            <td><input type="checkbox" /></td>
          </tr>
          <tr>
            <td>Auto-correct, stop changing my words! 😾</td>
            <td><input type="checkbox" /></td>
          </tr>
          <tr>
            <td>Why is this bug still not fixed?! 🤬</td>
            <td><input type="checkbox" /></td>
          </tr>
        </tbody>
      </table>

  </div>
  <app-new-list></app-new-list>
